#logo {
    width: 35px;
    margin: 0;
    margin-top: -10px;
}

#Perfiles {
    background: darkcyan;
}

#DASHBOAR {
    background-color: darkcyan;
}

#Imformativa {
    background-color: darkcyan;
}

#ApartarRide {
    background-color: darkcyan;
}

#configuraciones {
    background-color: darkcyan;
}

.contenedor {
    float: left;
    width: 100px;
    height: 100px;
    margin: 3px;
    padding: 3px;
    border: black 2px solid;
}

.contenedor2 {
    float: left;
    border: black 20px solid;
}

.derecha {
    margin-left: 60%;
    margin-top: 5%;
    width: 25%;
    border-radius: 10px;
    border: black 20px solid;
}

.containerImg {
    width: 45%;
}

.li {
    float: left;
    margin-left: 60%;
}

.map {
    float: left;
    margin-left: 50%;
    margin-top: -25%;
}

* {
    margin: 0%;
    padding: 0px;
    font-family: verdana;
}

.dashboarh {
    margin-top: -1000px;
    width: 1030px;
    height: 230px;
    margin-left: 20%;
    background-color: red;
}

div.contenedor {
    width: 200px;
    height: 230px;
    float: left;
    border-radius: 10px;
    transition: height .4s;
}

div#uno {
    background-color: rgb(208, 101, 3);
}

div#dos {
    background-color: rgb(233, 147, 26);
}

div#tres {
    background-color: rgb(22, 145, 190);
}

div#cuatro {
    background-color: rgb(22, 107, 162);
}

div#cinco {
    background-color: rgb(27, 40, 54);
}

img.icon {
    display: block;
    margin: 50px auto;
    background-color: red;
    width: 67%;
    padding: 20px;
    border-radius: 20%;
}

div.contenedor:hover {
    height: 250px;
}

section.barra_izquierda {
    width: 19%;
    height: 500px;
    background-color: aqua;
    border-radius: 10%;
    opacity: 0.8;
}

.img {
    width: 50%;
}

nav.encabezado {
    text-align: center;
    margin-top: 5%;
    background-color: darkgray;
    width: 30%;
    height: 50px;
    margin-left: 40%;
    font-size: 30px;
}

p.texto {
    margin-top: 3%;
    border: black 10px solid;
    text-align: justify;
    font-size: 20px;
    background-color: aqua;
}

div.form-group {
    width: 100%;
    text-align: center;
    margin-left: 10%;
    margin-top: 5%;
}

.form-group_header {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 50%;
    margin-left: 25%;
    height: 200px;
}

.form-group_header {
    border: black 10px solid;
    background-color: crimson;
}

.form-group_header1 {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 50%;
    margin-left: 25%;
    height: 200px;
}

.form-group_header1 {
    border: black 10px solid;
    background-color: dodgerblue;
}

#linea {
    background: black;
    font-size: 20px;
    height: 10px;
}

h2#texto1 {
    margin-left: 10%;
    width: 30%;
    color: black;
}

h2#texto2 {
    margin-left: 60%;
    width: 30%;
    color: black;
    margin-top: -3%;
}

.filas {
    margin-left: 30%;
    margin-top: 1%;
    border: white 8px outset;
    float: left;
}

div .formulario {
    margin-left: 30%;
    margin-top: 1%;
}

.img_config {
    width: 20%;
    float: right;
    margin-right: 20%;
    border-radius: 50%;
    border: black 8px outset;
}

.p {
    width: 95%;
    margin-left: 30%;
}

.butt {
    border: white 8px outset;
}

.c {
    margin-left: 30%;
}

.h {
    margin-left: 30%;
}

.h .form-ride {
    width: 33%;
}

.panel-texto {
    margin-top: 2%;
    margin-left: 30%;
}
.footer{
    margin-left: 30%;
}

@media (max-width: 600px) {
    .panel-texto {
       display: none;
    }
}
.days-of-week{
    margin-left: 30%;
    width: 25%;
}
