#info {
    background-color: #236877;
}

.container {
    margin: 50px;
    background: black;
    margin-left: 9%;
    margin-right: 5%;
}

body {
    background-color: darkcyan;
}

#logo {
    width: 35px;
    margin: 0;
    margin-top: -10px;
}

.table-responsive {
    margin-right: 10%;
    margin-right: 10%;
}
