body {
    background-color: darkcyan;
}

#logo {
    width: 35px;
    margin: 0;
    margin-top: -10px;
}
.table-responsive{
	border-left:solid;
	border-left-color: black;
}

.foto{
	width: 50px;
	height: 50px;
}
