body {
    background-color: darkcyan;
}

.container1 {
    margin: 25 margin-top: 0px;
    width: 50%;
    border-radius: 20px;
}

.form-group {
    background-color: darkgray;
    border-radius: 10px
}

.table {
    width: 40%;
    float: right;
    margin-top: -460px;
    border-color: brown;
    border-radius: 10px;
}

#info {
    background-color: #236877;
}

.table-responsive {
    margin-right: 30%;
    margin-right: 10%;
    width: 100%;
}

.table_table-strip_table-hover {
    width: 0;
}
